#background { 
  background: url(beach/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}


h1, #clock {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    color: white; 
}

#clock {
    padding: 150px 0;
    font-size: 150px;
}

footer {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

body {
    text-align: center;
}

#button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #21778c, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #21778c, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #21778c, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    color: #fff;
    margin-bottom:  20px;
    cursor: pointer;
}

#button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #2ea4c1;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(192, 100%, 62%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(192, 100%, 62%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(192, 100%, 62%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(192, 100%, 62%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Rubik Mono One', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button:hover span {
    background-color: #2ea4c1;
    text-shadow: 0 -1px 1px rgba(61, 216, 255, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #21778c, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #21778c, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #21778c, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

